<nav>
  <div id="links">
    <div>
      <%= link_to 'home', root_path %>
    </div>
    <div>
      leaderboard
    </div>
    <div>
      <%= link_to 'predictions', predictions_path %>
    </div>
    <div>
      scores
    </div>
    <div>
      login
    </div>
  </div>
</nav>
