<nav>
  <div id="links">
    <div>
      <%= link_to 'home', root_path %>
    </div>
    <div>
      leaderboard
    </div>
    <div>
      <%= link_to 'predictions', predictions_path %>
    </div>
    <div>
      scores
    </div>
    <div>
      <% if session[:id].nil? %>
        login
      <% else %>
        <%= link_to 'logout', sessions_logout_path %>
      <% end %>
    </div>
  </nav>
