<div class="container d-flex flex-column">
  <div class="row w-100 flex-grow-1" id="image">
    <div class="col-12 layer">
    <h1 class="display-1">Hockey Predictions</h1>
    </div>
  </div>
  <div class="row w-100 flex-grow-1">
    <div class="col-12">
      row2, col 12
    </div>
  </div>
</div>